@using MvcOnlineTicariOtomasyon1.Models.Siniflar
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}
<br />
<h5>KATEGORİLER</h5>
<table class="table table-bordered" style="margin-top: 25px;">
    <tr>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var _kategori in Model)
    {
        <tr>
            <td>
                @_kategori.KategoriAd
            </td>
            <td><a href="/Kategori1/KategoriDelete/@_kategori.KategoriID" class="btn btn-danger">Sil</a></td>        <!--Silme İşlemi için linke yönlendirme yapıyoruz. -->
            <td><a href="/Kategori1/KategoriGet/@_kategori.KategoriID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }),new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})

<a href="/Kategori1/KategoriAdd" class="btn btn-outline-primary">Yeni Kategori Ekle</a>        <!-- Butona tıklayınca Kategori Ekleme sayfasına yönlendirme yaptık.-->
