@using MvcOnlineTicariOtomasyon1.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}
<br />
<h3>Departman Detay Sayfası</h3>
<br />

<ol class="breadcrumb mb-3" style="background-color: whitesmoke">
    <li class="breadcrumb-item active" style="background-color: whitesmoke">Departman Adı: @ViewBag.d</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>AD</th>
        <th>SOYAD</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach (var _departman in Model)
    {
        <tr>
            <td>@_departman.PersonelAd</td>
            <td>@_departman.PersonelSoyad</td>
            <td>
                <a href="/Departman/DepartmanPersonelSatis/@_departman.PersonelID" class="btn btn-default"style="background-color:aquamarine ">Satışlar</a>
            </td>
        </tr>
    }
</table>
