
@{
    ViewBag.Title = "GrafikIndex2";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}

<h2>GrafikIndex2</h2>
<div style="width: 800px; height: 600px">
    <img src="@Url.Action("GrafikIndex2","Grafik")"/>
</div>
